extends ../shared/template
block content
  h2 Students

  table
    thead
      tr
        th Name
        th Average
        th Letter
        th Is Suspended?
        th Is Honor Roll?
    tbody
      each student in students
        tr
          td(style='background-color:#{student.color};'): a(href='/students/#{student._id}')= student.name
          td(style='background-color:#{studentHelper.color(student.average)};')= student.average.toFixed(2)
          td(style='background-color:#{studentHelper.color(student.average)};')= student.letter
          td(style='background-color:#{student.isSuspended ? "#FF4136" : "#01FF70"};')
          td(style='background-color:#{student.isHonorRoll ? "#01FF70" : "#FF4136"};')

